div.homeDiv {
  // General styling for the home page
  position: absolute;
  left: 100px;
  transform: skew(-10deg);
  height: 100vh !important;
  justify-content: center;
  align-content: flex-end;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: column;
  z-index: 10;

  // styling for each box of the home page
  div.homeSection {
    margin: 1vw;
    width: 40vw;
    min-width: 250px;
    height: 40vh;
    padding: 3vw;
    box-shadow: 0.75vw 0.75vw 0 0 rgba($color: #000000, $alpha: 0.75);
    border: 2px solid black;
    animation: 0.5s ease-out 0s 1 slideIn;
    z-index: 10;
    // when applied, this slides each home box out to the left
    &.inactive {
      transform: translateX(0);
      animation: 0.5s ease-out 0s 1 slideOut;
      z-index: 0;
    }
    animation-fill-mode: forwards !important;
    transform: translateX(-100vw);
    overflow: hidden;

    // this unskews the contents of the box
    *,
    *::after,
    *::before {
      transform: skew(10deg) !important;
    }

    // this scales the headshot to proper size
    img {
      height: 200%;
      width: auto;
      object-fit: cover;
      position: absolute;
      top: -40%;
    }

    // more general styling for each box
    h1 {
      font-size: calc(2vw + 2vh);
    }
    ul {
      list-style-type: circle;
      li {
        transform: skew(0) !important;
      }
    }
    p,
    li {
      font-size: calc(0.75vw + 0.75vh);
      span {
        border: 2px solid black;
        padding: 0.1vw;
        border-radius: 50%;
        font-weight: 700 !important;
      }
    }
  }

  // mobile styling for home page
  @media screen and (max-width: 720px) {
    & {
      display: block;
      transform: skew(0deg) !important;
      div.homeSection {
        width: 80% !important;
        transform: skew(-10deg) !important;
        transition: transform 5s;
        margin-top: 1rem;
        animation: 0.5s ease-out 0s 1 slideIn;
        animation-fill-mode: forwards !important;

        &.leave {
          transform: translateX(0);
          animation: 0.5s ease-out 0s 1 slideOut;
          display: none !important;
        }

        *,
        *::after,
        *::before {
          transform: skew(10deg) !important;
        }
        p,
        li {
          font-size: calc(1.25vw + 1.25vh) !important;
        }
      }
    }
  }
}

// adds different animation delays to each box
@for $i from 1 through 4 {
  .homeDiv div:nth-child(#{$i}) {
    animation-delay: #{($i - 1) * 0.2}s !important;
  }
  .homeDiv div.inactive:nth-child(#{$i}) {
    animation-delay: #{0.8 - (($i - 1) * 0.2)}s !important;
  }
}

// animations for sliding in and sliding out
@keyframes slideIn {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}
