@use "../themes/defaultTheme" as *;
@use "../util/variables" as *;
@use "../util/mixins" as *;

@font-face {
  font-family: newart;
  /* Font by Pravdin */
  src: url("../Utils/NEXT\ ART_Regular.otf");
}

* {
  font-family: newart;
}

body,
html {
  overflow-x: hidden !important;
}

// body {
//   background-image: url("https://jooinn.com/images/metal-background-4.jpg");
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-attachment: fixed;
// }
