@use "../themes/defaultTheme" as *;
@use "../util/variables" as *;
@use "../util/mixins" as *;

@font-face {
  font-family: newart;
  /* Font by Pravdin */
  src: url("../Utils/NEXT\ ART_Regular.otf");
}

* {
  font-family: newart;
}

body,
html {
  overflow-x: hidden !important;
  background-color: $dark-background;
}

@keyframes flicker {
  0% {
    opacity: 0;
  }
  9% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  13% {
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  25% {
    opacity: 1;
  }
}

.flicker {
  animation: flicker 2s infinite;
}

// body {
//   background-image: url("https://jooinn.com/images/metal-background-4.jpg");
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-attachment: fixed;
// }
